:root {
    --body-background-color: #2e294e;
    --main-font-color: #2e294e;
    --start-backgroung-color: #deeb6b;
    --player1-color: #d7263d;
    --player2-color: #c5d86d;
    --game-border-color: #f46036;
    --button-hover-color: rgba(46, 41, 78);
    --button-font-color: white;
}

html,
body,
div,
input,
p,
h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: var(--body-background-color);
    height: 80vh;
    font-family: 'Inconsolata', monospace;
    font-weight: 800;
    color: var(--main-font-color);
}

header {
    width: 70vw;
    margin: 23vw auto;
    margin-bottom: 70px;
}

#mute {
    background-image: url("../img/somBtn.png");
    background-position: center;
    background-size: contain;
    background-color: #1B998B;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 14px;
    left: 10px;
}

main {
    height: 80%;
}

p {
    font-size: 16px;
    line-height: 1;
}

#start,
#restart {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 23px;
    background-color: var(--start-backgroung-color);
    border-radius: 10px;
}

#btnStart,
#btnRestart {
    width: 125px;
    height: 35px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 50px;
    color: var(--main-font-color);
    border: 3px solid var(--body-background-color);
    box-shadow: inset 0 0 0 0 var(--body-background-color);
    transition: ease-out 0.3s;
    outline: none;
}

#container__score {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(31, 31, 31);
    border-radius: 10px;
    width: 270px;
    height: 63px;
    margin-bottom: 10px;
    display: none;
}

#play1,
#play2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
}

#play1 {
    background-color: var(--player2-color);
    margin-right: 25px;
}

#play2 {
    background-color: var(--player1-color);
    margin-left: 25px;
}

#scoreplay1,
#scoreplay2,
#xscore {
    color: rgb(172, 172, 172);
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    width: 100px;
    height: 50px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
}

#scoreplay1 span,
#scoreplay2 span,
#xscore {
    margin-top: 8px;
}

#xscore {
    width: 36px;
}

span {
    color: wheat;
}

#game {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 315px;
    min-width: 320px;
    margin: 0 auto;
    border: 16px outset var(--game-border-color);
}

.column {
    display: flex;
    flex-direction: column-reverse;
    background-image: url("../img/bg.png");
    background-position: center;
    background-size: cover;
    height: 279px;
    width: 41.1px;
}

.column:hover {
    background-image: url("../img/bg2.png");
}

.cell {
    border: solid 1px black;
    width: 50px;
    height: 50px;
    margin: 2.5px;
}

#player1,
#player2 {
    width: 40px;
    height: 40px;
    align-self: center;
    margin: 3px;
    border-radius: 50%;
    background-color: var(--player1-color);
    position: relative;
    animation-name: moveBall;
    animation-duration: 1s;
    z-index: -1;
}

#player2 {
    background-color: var(--player2-color);
}

#containerPlayer {
    display: none;
    justify-content: space-around;
    margin: 15px auto;
    width: 39%;
}

#pointPlayer {
    background-color: var(--player1-color);
    font-family: monospace;
    font-size: 16px;
    text-align: center;
    line-height: 3;
    font-weight: bolder;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

#restart {
    display: none;
    width: 255px;
    margin-top: -219px;
    background-color: hsl(66, 76%, 67%, 76%);
    z-index: 1;
}

#result {
    font-size: 20px;
}

.scale {
    transform: scale(1.1, 1.1);
    transition: all .5s;
    border: 3px black solid;
    z-index: 1 !important;
}

/*BEGIN - TITLE ANIMATION */
h1 {
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 8px;
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    margin: 0;
    line-height: 0;
    animation: glitch1 2.5s infinite;
}

h1:nth-child(2) {
    color: #67f3da;
    animation: glitch2 2.5s infinite;
}

h1:nth-child(3) {
    color: #f16f6f;
    animation: glitch3 2.5s infinite;
}

@keyframes glitch1 {
    0% {
        transform: none;
        opacity: 1;
    }

    7% {
        transform: skew(-0.5deg, -0.9deg);
        opacity: 0.75;
    }

    10% {
        transform: none;
        opacity: 1;
    }

    27% {
        transform: none;
        opacity: 1;
    }

    30% {
        transform: skew(0.8deg, -0.1deg);
        opacity: 0.75;
    }

    35% {
        transform: none;
        opacity: 1;
    }

    52% {
        transform: none;
        opacity: 1;
    }

    55% {
        transform: skew(-1deg, 0.2deg);
        opacity: 0.75;
    }

    50% {
        transform: none;
        opacity: 1;
    }

    72% {
        transform: none;
        opacity: 1;
    }

    75% {
        transform: skew(0.4deg, 1deg);
        opacity: 0.75;
    }

    80% {
        transform: none;
        opacity: 1;
    }

    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes glitch2 {
    0% {
        transform: none;
        opacity: 0.25;
    }

    7% {
        transform: translate(-2px, -3px);
        opacity: 0.5;
    }

    10% {
        transform: none;
        opacity: 0.25;
    }

    27% {
        transform: none;
        opacity: 0.25;
    }

    30% {
        transform: translate(-5px, -2px);
        opacity: 0.5;
    }

    35% {
        transform: none;
        opacity: 0.25;
    }

    52% {
        transform: none;
        opacity: 0.25;
    }

    55% {
        transform: translate(-5px, -1px);
        opacity: 0.5;
    }

    50% {
        transform: none;
        opacity: 0.25;
    }

    72% {
        transform: none;
        opacity: 0.25;
    }

    75% {
        transform: translate(-2px, -6px);
        opacity: 0.5;
    }

    80% {
        transform: none;
        opacity: 0.25;
    }

    100% {
        transform: none;
        opacity: 0.25;
    }
}

@keyframes glitch3 {
    0% {
        transform: none;
        opacity: 0.25;
    }

    7% {
        transform: translate(2px, 3px);
        opacity: 0.5;
    }

    10% {
        transform: none;
        opacity: 0.25;
    }

    27% {
        transform: none;
        opacity: 0.25;
    }

    30% {
        transform: translate(5px, 2px);
        opacity: 0.5;
    }

    35% {
        transform: none;
        opacity: 0.25;
    }

    52% {
        transform: none;
        opacity: 0.25;
    }

    55% {
        transform: translate(5px, 1px);
        opacity: 0.5;
    }

    50% {
        transform: none;
        opacity: 0.25;
    }

    72% {
        transform: none;
        opacity: 0.25;
    }

    75% {
        transform: translate(2px, 6px);
        opacity: 0.5;
    }

    80% {
        transform: none;
        opacity: 0.25;
    }

    100% {
        transform: none;
        opacity: 0.25;
    }
}
/*END - TITLE ANIMATION */

@keyframes moveBall {
    from {
        top: -50vh;
    }

    to {
        top: 0;
    }
}

@media only screen and (min-width: 400px) {
    header {
        width: 70vw;
        margin: 45px auto 45px auto;
    }

    h1 {
        font-size: 2em;
    }

    #start {
        max-width: 754px;
        margin: 0 6%;
    }

    p {
        line-height: 1.5;
    }

    #btnStart:hover {
        cursor: pointer;
        background-color: var(--button-hover-color);
        color: var(--button-font-color);
        border: none;
        box-shadow: inset 125px 0 0 0 var(--body-background-color);
    }

    #game {
        max-width: 400px;
        border: 14px outset var(--game-border-color);
    }

    .column {
        height: 340px;
        width: 53.1px;
    }

    #player1,
    #player2 {
        width: 50px;
        height: 50px;
    }

    #restart {
        width: 300px;
        margin-top: -255px;
    }

    #result {
        font-size: 25px;
        margin-top: 8px;
    }

    #btnRestart {
        margin-top: 25px;
    }

    #btnRestart:hover {
        cursor: pointer;
        background-color: var(--button-hover-color);
        ;
        color: var(--button-font-color);
        border: none;
    }
}

@media only screen and (min-width: 768px) {
    header {
        margin: 5vw auto;
    }

    #start {
        max-width: 754px;
        margin: 0 auto;
    }

    p {
        line-height: 2;
    }
}